# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Firebase config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDLr39MXQwRNgzaqIingLvT2lylQAy2aDI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cyborg-e3390.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cyborg-e3390
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cyborg-e3390.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1064607207918
NEXT_PUBLIC_FIREBASE_APP_ID=1:1064607207918:web:5ea042fed1cf3d690bbeff
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-DBDMDFPED7

# EmailJS
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_vo7944n
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_298b6u5
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=sMf40APlw3qutYcEZ

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=GTM-MLKPSBWZ

# Development-specific variables can go here 
